{% extends 'base.html' %}
{% load custom_filters %}


{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    <div class="row mx-auto">

        {% for product in products %}
        <div class="col p-3">
            <div class="card" style="width: 18rem;">
                <img src="{{product.thumbnail.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4>{{product.name|title}}</h4>
                    <p class="text-info p-0 m-0">You Save: {{product.discount|rupee}}</p>
                    <p>Price: <del class="text-danger">{{product.price|rupee}}</del> {{product|discounted_price|rupee}}</p>
                </div>
                <div class="card-footer p-0">
                    <a href="#" class="btn btn-light btn-block">Show More</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>


{% endblock %}