{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}product/{{product.name}}{% endblock %}


{% block content %}
<div class="container mt-4 p-4">
    <style>
        .display-8{
        font-size:20px;
        font-weight:300;
        }
    </style>
    <div class="row">
        <div class="col-5">
            <img alt="" class="img-fluid rounded border" src="{{product.thumbnail.url}}">
            <div class="row">
                {% for i in product.images.all %}
                <div class="col">
                    <img src="{{i.image.url}}" class="img-thumbnail" alt="">
                </div>
                {% endfor %}
            </div>

        </div>
        <div class="col-7">
            <h1 class="display-4">{{product.name}}</h1>
            <hr>
            <p class="display-8 badge badge-warning">Save: {{product.discount}}%</p>
            <h4>Price <del>{{product.price|rupee}}</del> &nbsp; {{product|discounted_price|rupee}}</h4>
            <br>
            {% if product|discounted_price > 0%}
            <button class="btn btn-info">Download Now</button>
            {% else %}
            <button class="btn btn-info">Download Free</button>
            {% endif %}
            <hr>
            <p><b>Description:</b></p>
            <p>{{product.description}}</p>
        </div>
    </div>
    <hr>
    {% load static %}
    <script src="{% static '/shop/js/product_detail.js' %}"></script>
</div>
{% endblock %}